[flake8]
max-line-length = 100
imr220_include = *
# We really want IMR241, but the implementation is buggy (false positives everywhere).
imr241_include = ''
exclude =
  adafruithat/main.py,
  adafruithat/planktoscope/__init__.py,
  adafruithat/planktoscope/display.py,
  adafruithat/planktoscope/identity.py,
  adafruithat/planktoscope/integrity.py,
  adafruithat/planktoscope/light.py,
  adafruithat/planktoscope/mqtt.py,
  adafruithat/planktoscope/stepper.py,
  adafruithat/planktoscope/uuidName.py,
  adafruithat/planktoscope/imager,
  planktoscopehat/main.py,
  planktoscopehat/main_thread.py,
  planktoscopehat/shush,
  planktoscopehat/planktoscope/__init__.py,
  planktoscopehat/planktoscope/identity.py,
  planktoscopehat/planktoscope/integrity.py,
  planktoscopehat/planktoscope/light.py,
  planktoscopehat/planktoscope/module.py,
  planktoscopehat/planktoscope/mqtt.py,
  planktoscopehat/planktoscope/stepper.py,
  planktoscopehat/planktoscope/uuidName.py,
  planktoscopehat/planktoscope/imager,
