# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[*.py]
indent_style = space
indent_size = 4

[*.sh]
indent_style = space
indent_size = 2

# Tab indentation (no size specified)
[Makefile]
indent_style = tab

# Formatting managed by Node-RED
[flows.json]
[node-red/settings.cjs]
[node-red/*.config.*.json]
indent_style = unset
indent_size = unset
end_of_line = unset
insert_final_newline = unset

[justfile]
indent_style = space
indent_size = 4

[Caddyfile]
indent_style = tab
