# General
.DS_Store
*.dll
*.log
*.so
*.swp
export
img
tmp

# Python
/*.py[cod]
/__pycache__
/.benchmark
/.coverage*
/.pytest_cache

# npm
node_modules

# Node-Red
/.main.json.backup
/flow_backup.json
