RPi.GPIO~=0.7.1a4
Adafruit-Blinka~=8.19.0
adafruit-circuitpython-motorkit~=1.6.3
adafruit-circuitpython-motor~=3.3.1
Adafruit-SSD1306~=1.6.2
Adafruit-PlatformDetect~=3.45.2
paho-mqtt~=1.6.1
numpy~=1.22.4
loguru~=0.5.3
picamera~=1.13
picamerax~=21.9.8
matplotlib~=3.5.0
morphocut~=0.1.2
pandas==2.0.0 # indirect dependency, locked at 2.0.0 because pip can't find a prebuilt binary from piwheels for 2.0.1
opencv-contrib-python-headless~=4.5.3.56
scipy~=1.7.2
smbus2~=0.4.1
scikit-image~=0.18.3
