RPi.GPIO~=0.7.1
Adafruit-Blinka~=8.19.0
adafruit-circuitpython-motorkit~=1.6.11
adafruit-circuitpython-motor~=3.4.9
Adafruit-SSD1306~=1.6.2
Adafruit-PlatformDetect~=3.45.2
paho-mqtt~=1.6.1
numpy~=1.24.3
loguru~=0.7.0
picamera~=1.13
picamerax~=21.9.8
matplotlib~=3.7.1
morphocut~=0.1.2
opencv-contrib-python-headless~=4.7.0.72
scipy~=1.9.1
smbus2~=0.4.2
scikit-image~=0.20.0
