RPi.GPIO~=0.7.0
Adafruit-Blinka~=6.8.3
adafruit-circuitpython-motorkit~=1.6.2
adafruit-circuitpython-motor~=3.3.0
adafruit-circuitpython-motorkit~=1.6.2
Adafruit-SSD1306~=1.6.2
Adafruit-PlatformDetect~=3.12.0
paho-mqtt~=1.5.1
numpy~=1.20.3
loguru~=0.5.3
picamera~=1.13
picamerax~=20.9.1
matplotlib~=3.4.2
morphocut==0.1.1+42.g01a051e
opencv-contrib-python~=4.1.0.25
scipy~=1.6.3
smbus2~=0.4.1
