[Unit]
Description=GPIO Init
DefaultDependencies=false

[Service]
Type=oneshot
ExecStart=/usr/bin/stepper-disable
Restart=no

[Install]
WantedBy=sysinit.target
