[Unit]
Description=Run the PlanktoScope segmenter
# Wait for Forklift to bring up mosquitto, in case the segmenter needs to start after mosquitto
Wants=forklift-apply.service
After=forklift-apply.service
# Start after Node-RED so that Node-RED can catch all MQTT messages emitted at startup
After=nodered.service

[Service]
Type=simple
Environment=HOME=/home/pi
Environment=SEGMENTER_PIPELINE_SUBTRACT_CONSECUTIVE_MASKS=true
WorkingDirectory=/home/pi/PlanktoScope/segmenter
ExecStart=/home/pi/.local/bin/poetry run python -u main.py
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
