[Unit]
Description=Run the PlanktoScope hardware controller
# Start after Node-RED so that Node-RED can catch all MQTT messages emitted at startup
# Node-RED is started after Mosquitto
After=nodered.service

[Service]
Type=simple
Environment=HOME=/home/pi
WorkingDirectory=/home/pi/PlanktoScope/controller
ExecStart=/home/pi/.local/bin/poetry run python -u main.py
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
