[data-md-color-primary=indigo] {
    --md-accent-fg-color:  #674ea7;
    --md-primary-fg-color--dark:  #674ea7;
    --md-primary-fg-color--light: #674ea7;
    --md-primary-fg-color: #674ea7;
    --md-typeset-a-color: #674ea7;
}
a.headerlink {
    font-size: 0.75em;
    vertical-align: middle;
}
