# Note: the string "machine-name", when wrapped in curly braces, will be automatically replaced with
# the machine-specific name, which will look something like "metal-slope-23501".
pkscope-{machine-name}
