[Unit]
Description=File browser
After=network.target

[Service]
User=pi
Group=pi
ExecStart=/usr/local/bin/filebrowser --root /home/pi/data --database /home/pi/filebrowser.db --noauth --baseurl /ps/data/browse

[Install]
WantedBy=multi-user.target
