[Unit]
Description=Publish %i as an mDNS CNAME alias for the hostname
Wants=avahi-daemon.service
After=avahi-daemon.service
Wants=avahi-daemon.socket
After=update-hostname.service

[Service]
Type=exec
ExecStart=/usr/bin/go-avahi-cname cname %i.

[Install]
WantedBy=multi-user.target
