[Unit]
Description=Enable wifi on firstboot
ConditionFirstBoot=yes
After=network.target

[Service]
Type=oneshot
ExecStart=sh -c "nmcli radio wifi on"

[Install]
WantedBy=sysinit.target
