[Unit]
Wants=mosquitto.service
After=mosquitto.service
After=nodered.service
After=mediamtx.service

[Service]
Type=simple
Environment=HOME=/home/pi
WorkingDirectory=/home/pi/PlanktoScope/controller
ExecStart=/usr/local/bin/uv run python -m camera.main
User=pi
Group=pi
Restart=on-failure

[Install]
WantedBy=multi-user.target
