[Unit]
Description=Run the PlanktoScope hardware controller for the Adafruit HAT
# Wait for Forklift to bring up mosquitto, in case the controller needs to start after mosquitto
Wants=planktoscope-org.forklift-apply.service
After=planktoscope-org.forklift-apply.service
# Start before Node-RED so that the GUI is only available after the backend is up
Before=nodered.service

[Service]
Type=simple
Environment=HOME=/home/pi
ExecStart=/home/pi/.local/share/pypoetry/venv/bin/poetry --directory /home/pi/device-backend/control run python -u /home/pi/device-backend/control/adafruithat/main.py

[Install]
WantedBy=multi-user.target
