[Unit]
Wants=mosquitto.service
After=mosquitto.service

[Service]
Type=simple
Environment=HOME=/home/pi
WorkingDirectory=/home/pi/PlanktoScope/controller
ExecStart=/home/pi/.local/bin/poetry run python -u bubbler/main.py
User=pi
Group=pi
Restart=on-failure

[Install]
WantedBy=multi-user.target
