[Unit]
Description=PlanktoScope first boot service
ConditionFirstBoot=yes

[Service]
Type=oneshot
ExecStart=/home/pi/PlanktoScope/software/distro/setup/planktoscope-app-env/bootloader/firstboot.sh

[Install]
WantedBy=sysinit.target
