# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile

:80 {
	handle /ps/processing/segmenter/streams/object.mjpg {
		rewrite * /object.mjpg
		reverse_proxy localhost:8001
	}

	redir /admin/ps/node-red-v2 /admin/ps/node-red-v2/
	handle /admin/ps/node-red-v2/* {
		reverse_proxy localhost:1880
	}

	redir /ps/node-red-v2 /ps/node-red-v2/
	handle /ps/node-red-v2/* {
		reverse_proxy localhost:1880
	}

	redir /admin/fs /admin/fs/
	handle /admin/fs/* {
		reverse_proxy localhost:8080
	}

	redir /admin/cockpit /admin/cockpit/
	handle /admin/cockpit/* {
		reverse_proxy localhost:9090
	}

	redir /ps/docs /ps/docs/
	handle_path /ps/docs/* {
		root * /srv/docs
		file_server
	}

	handle /* {
		try_files {path} /index.html
		root * /srv/frontend
		file_server
	}

	# https://github.com/ecotaxa/ecotaxa_back/issues/64
	handle_path /ecotaxa* {
		@cors_preflight {
			method OPTIONS
		}

		header {
			Access-Control-Allow-Origin *
		}

		handle @cors_preflight {
			header {
				Access-Control-Allow-Methods GET,POST,OPTIONS,HEAD,PATCH,PUT,DELETE
				Access-Control-Allow-Credentials true
				Access-Control-Allow-Headers *
				Access-Control-Max-Age 86400
			}
			respond 204
		}

		reverse_proxy {
			to https://ecotaxa.obs-vlfr.fr
			header_up Host ecotaxa.obs-vlfr.fr
			header_down -Access-Control-Allow-Origin
			header_down -Access-Control-Allow-Credentials
			header_down -Access-Control-Allow-Methods
			header_down -Access-Control-Allow-Headers
			header_down -Access-Control-Max-Age
			header_down Access-Control-Expose-Headers *
		}
	}
}
