# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile

:80 {
	redir / /ps/node-red-v2/ui

	handle /ps/hal/camera/streams/preview.mjpg {
		rewrite * /stream.mjpg
		reverse_proxy localhost:8000
	}

	handle /ps/processing/segmenter/streams/object.mjpg {
		rewrite * /object.mjpg
		reverse_proxy localhost:8001
	}

	redir /admin/ps/node-red-v2 /admin/ps/node-red-v2/
	handle /admin/ps/node-red-v2/* {
		reverse_proxy localhost:1880
	}

	redir /ps/node-red-v2 /ps/node-red-v2/
	handle /ps/node-red-v2/* {
		reverse_proxy localhost:1880
	}

	redir /admin/fs /admin/fs/
	handle /admin/fs/* {
		reverse_proxy localhost:8080
	}

	redir /admin/cockpit /admin/cockpit/
	handle /admin/cockpit/* {
		reverse_proxy localhost:9090
	}

	redir /admin/fairscope /admin/fairscope/
	handle_path /admin/fairscope/* {
		try_files {path} /index.html
		root * /srv/admin
		file_server
	}
}
