# Edit /home/pi/.local/etc/cockpit/origins-machine-name.snippet to change the following lines.
# Note: the string "machine-name", when wrapped in curly braces, will be automatically replaced with
# the machine-specific name, which will look something like "metal-slope-23501".
http://{machine-name}.pkscope
http://{machine-name}.pkscope:9090
http://pkscope-{machine-name}.local
http://pkscope-{machine-name}.local:9090

