[Unit]
Description=Automatic generation of a wireless AP (wifi hotspot) when no known wifi networks are found
Wants=enable-interface-forwarding.service
After=enable-interface-forwarding.service
Before=network-online.target
# Delay the wifi hotspot until we're ready to launch containerized network services:
After=docker.service

[Service]
Type=oneshot
ExecStart=/home/pi/.local/bin/autohotspot.sh

[Install]
WantedBy=network-online.target
