[Unit]
Description=Enable forwarding of packets between eth0 and wlan0

[Service]
Type=oneshot
ExecStart="$(/usr/bin/forklift --workspace /home/pi plt locate-depl-pkg host/networking/interface-forwarding)/enable-interface-forwarding.sh"

[Install]
WantedBy=multi-user.target
