[Unit]
Description=Enable forwarding of packets between eth0 and wlan0

[Service]
Type=oneshot
ExecStart=/home/pi/.local/bin/enable-interface-forwarding.sh

[Install]
WantedBy=multi-user.target
