# This is implemented as a service rather than a mount because we're mounting from
# /etc, and systemd's implicit dependencies with mounts would cause incorrect ordering
# between this service and `etc.mount`.
[Unit]
Description=Mount the pre-overlay /etc into /run/mount/underlays for inspection/troubleshooting
DefaultDependencies=no
Requires=-.mount
After=-.mount
Requires=systemd-remount-fs.service
After=systemd-remount-fs.service
Conflicts=umount.target
Before=umount.target

[Service]
Type=oneshot
ExecStartPre=mkdir -p /run/mount/underlays/etc
ExecStart=mount --bind /etc /run/mount/underlays/etc
ExecStop=umount /run/mount/underlays/etc

[Install]
WantedBy=local-fs.target
