[Unit]
Description=Reload systemd units after the /etc overlay has been mounted
Wants=etc.mount
After=etc.mount
Before=basic.target

[Service]
Type=oneshot
ExecStart=systemctl daemon-reload

[Install]
WantedBy=basic.target
