[Unit]
Description=Mount a read-write overlay at /etc with a Forklift-managed etc tree as an intermediate layer
Requires=mount-usr-etc.service
After=mount-user-etc.service
Before=local-fs.target

[Mount]
What=overlay
Where=/etc
Type=overlay
Options=upperdir=/var/lib/overlays/overrides/etc,lowerdir=/var/lib/planktoscope/generated/etc:/var/lib/forklift/exports/next/overlays/etc:/usr/etc,workdir=/var/lib/overlays/workdirs/etc

[Install]
WantedBy=local-fs.target
