[Unit]
Description=Mount a read-write overlay at /etc with a Forklift-managed etc tree as an intermediate layer
Requires=-.mount
After=-.mount
Requires=systemd-remount-fs.service
After=systemd-remount-fs.service
# Mount the /etc overlay after /etc/machine-name is bind-mounted into the overlay
# (refer to https://www.freedesktop.org/software/systemd/man/latest/machine-id.html).
Wants=bind-etc-machine-id.service
After=bind-etc-machine-id.service
Before=local-fs.target

[Mount]
What=overlay
Where=/etc
Type=overlay
Options=upperdir=/var/lib/overlays/overrides/etc,lowerdir=/usr/etc:/var/lib/forklift/exports/next/overlays/etc:/var/lib/planktoscope/generated/etc,workdir=/var/lib/overlays/workdirs/etc

[Install]
WantedBy=local-fs.target
