[Unit]
Description=Copy the fake-hwclock file to the underlay during shutdown before fake-hwclock's shutdown work
Wants=fake-hwclock.service
After=fake-hwclock.service
Requires=overlay-sysroot.service
After=overlay-sysroot.service
After=overlay-etc.service
ConditionPathExists=/etc/fake-hwclock.data

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=sleep 1
ExecStopPost=cp /etc/fake-hwclock.data /sysroot/etc/fake-hwclock.data

[Install]
WantedBy=overlay-etc.service
