[Unit]
Description=Copy the fake-hwclock file from the overlay override during shutdown
DefaultDependencies=no
Requires=overlay-etc.service
# This ensures that the shutdown task will run after `/sysroot` is unmounted:
Before=overlay-sysroot.service
ConditionPathExists=/var/lib/overlays/overrides/etc/fake-hwclock.data
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=sleep 1
ExecStopPost=cp /var/lib/overlays/overrides/etc/fake-hwclock.data /etc/fake-hwclock.data

[Install]
WantedBy=overlay-etc.service
