[Unit]
Description=Mount the Forklift stage store into the `pi` user's default Forklift workspace, during early boot
Requires=-.mount
After=-.mount
Requires=systemd-remount-fs.service
After=systemd-remount-fs.service
Wants=home.mount
After=home.mount

[Mount]
Type=none
# Give the default non-root user full permissions:
Options=bind,uid=1000,gid=1000
What=/var/lib/forklift/stages
Where=/home/pi/.local/share/forklift/stages

[Install]
WantedBy=local-fs.target
