[Unit]
Description=Remount /etc as a writable overlay with a Forklift-managed intermediate layer
DefaultDependencies=no
Requires=-.mount
After=-.mount
Requires=systemd-remount-fs.service
After=systemd-remount-fs.service
# Wait until systemd has written changes to /etc/machine-id before swapping /etc for an overlay
After=first-boot-complete.target
Conflicts=umount.target
Before=umount.target

[Service]
# This is implemented as a service rather than a mount because we're bind-mounting from /etc to
# /usr/etc and then mounting /etc as an overlay, and systemd's implicit dependencies with mounts
# would cause a circular requirement dependency; and keeping everything in one unit makes the order
# of operations clearer.
Type=oneshot
RemainAfterExit=true
ExecStart=mkdir -p /var/lib/overlays/workdirs/etc
ExecStart=mkdir -p /var/lib/overlays/overrides/etc
ExecStart=mkdir -p /var/lib/overlays/generated/etc
ExecStart=mkdir -p /var/lib/forklift/exports/next/overlays/etc
ExecStart=mkdir -p /usr/etc
ExecStart=mount --bind /etc /usr/etc
ExecStart=mount -t overlay overlay -oworkdir=/var/lib/overlays/workdirs/etc,upperdir=/var/lib/overlays/overrides/etc,lowerdir=/var/lib/overlays/generated/etc:/var/lib/forklift/exports/next/overlays/etc:/usr/etc /etc
ExecStart=systemctl daemon-reload
# Note: `umount -l` is not recommended in general (see https://unix.stackexchange.com/a/390057)
# because it just removes the mounts from the namespace while writes to open files can continue;
# however, this is probably acceptable behavior for the overlay at shutdown, because any writes
# will be in our upperdir anyways.
ExecStopPost=umount -l /etc
ExecStopPost=umount /usr/etc

[Install]
WantedBy=local-fs.target
