# This is implemented as a service rather than a mount because we're mounting from
# /etc, and systemd's implicit dependencies with mounts would cause a circular
# requirement dependency between this service and `etc.mount` (which relies on this service to
# include in the overlay).
[Unit]
Description=Mount the pre-overlay /etc to /usr/etc as an underlay for an overlay at /etc
DefaultDependencies=no
Requires=-.mount
After=-.mount
Requires=systemd-remount-fs.service
After=systemd-remount-fs.service
Conflicts=umount.target
Before=umount.target

[Service]
Type=oneshot
ExecStart=mount --bind /etc /usr/etc
ExecStop=umount /usr/etc

[Install]
WantedBy=local-fs.target
