[Unit]
Description=Mount the Forklift stage store into the default path for the Forklift workspace at %I
Requires=-.mount
After=-.mount
Wants=home.mount
After=home.mount
Conflicts=umount.target
Before=umount.target

[Service]
# This is implemented as a service rather than a mount so that we can have a unit name which isn't
# bound to the home directory of a specific user.
Type=oneshot
RemainAfterExit=true
ExecStartPre=mkdir -p /var/lib/forklift/stages
ExecStartPre=mkdir -p %I/.local/share/forklift/stages
ExecStart=bash -c "\
    mount -o bind,uid=$(stat -c '%%u' %I),gid=$(stat -c '%%g' %I) \
      /var/lib/forklift/stages \
      %I/.local/share/forklift/stages \
  "
# Note: `umount -l` is not recommended in general (see https://unix.stackexchange.com/a/390057)
# because it just removes the mounts from the namespace while writes to open files can continue;
# however, we have a read-only mount so it doesn't matter
ExecStopPost=umount -l %I/.local/share/forklift/stages

[Install]
WantedBy=default.target
