[Unit]
Description=Mount the Forklift stage to be applied next as the current stage in /run, during early boot
Requires=-.mount
After=-.mount
Requires=systemd-remount-fs.service
After=systemd-remount-fs.service

[Service]
# This is implemented as a service rather than a mount because keeping all the related ExecStart
# commands in one unit makes the sequence of steps clearer.
Type=oneshot
RemainAfterExit=true
ExecStartPre=mkdir -p /tmp/overlays/workdirs/run/forklift/stages/current
ExecStartPre=mkdir -p /tmp/overlays/overrides/run/forklift/stages/current
ExecStartPre=mkdir -p /var/lib/forklift/stages/next
ExecStart=mount -t overlay overlay -oworkdir=/tmp/overlays/workdirs/run/forklift/stages/current,upperdir=/tmp/overlays/overrides/run/forklift/stages/current,lowerdir=/var/lib/forklift/stages/next /run/forklift/stages/current
# Note: `umount -l` is not recommended in general (see https://unix.stackexchange.com/a/390057)
# because it just removes the mounts from the namespace while writes to open files can continue;
# however, this is probably acceptable behavior for the overlay at shutdown, because any writes
# will be in our upperdir anyways.
ExecStopPost=umount -l /run/forklift/stages/current


[Install]
WantedBy=local-fs.target
