[Unit]
Description=Remount /etc as a writable overlay with a Forklift-managed intermediate layer, during early boot
DefaultDependencies=no
Requires=bindro-sysroot.service
After=bindro-sysroot.service
# If forklift (or the upperdir) provides kernel parameters via `/etc/sysctl.d`, we must make those
# files available in the /etc overlay before systemd starts systemd-sysctl.service!
Before=systemd-sysctl.service
Before=local-fs.target
Wants=start-overlaid-units.service
Before=start-overlaid-units.service
Conflicts=umount.target
Before=umount.target

[Service]
# This is implemented as a service rather than a mount because keeping all the related ExecStart
# commands in one unit makes the sequence of steps clearer.
Type=oneshot
RemainAfterExit=true
Environment=WORKDIR=/var/lib/overlays/workdirs/etc
ExecStartPre=mkdir -p $WORKDIR
Environment=UPPERDIR=/var/lib/overlays/overrides/etc
ExecStartPre=mkdir -p $UPPERDIR
Environment=LOWERDIR_FORKLIFT=/run/forklift/stages/current/exports/overlays/etc
Environment=LOWERDIR_BASE=/sysroot/etc
Environment=TARGET=/etc
# Changes to /etc/machine-id should be committed directly to the underlay;
# systemd-machine-id-commit.service waits until after local-fs.target, so we can't rely on it, and
# instead we just short-circuit it:
ExecStart=systemd-machine-id-setup --commit
# Warning: the upper and lower dirs are not allowed to be modified directly while the overlay is
# mounted! Doing so causes undefined behavior, i.e. weirdness and inconsistency
# (see https://docs.kernel.org/filesystems/overlayfs.html#changes-to-underlying-filesystems).
ExecStart=bash -c '\
  LOWERDIRS="$LOWERDIR_BASE"; \
  if [ -d $LOWERDIR_FORKLIFT ]; then LOWERDIRS="$LOWERDIR_FORKLIFT:$LOWERDIRS"; fi; \
  mount -t overlay overlay -o workdir=$WORKDIR,upperdir=$UPPERDIR,lowerdir=$LOWERDIRS $TARGET \
  '
# Immediately update any systemd units added by the overlay:
ExecStart=systemctl daemon-reload
# Note: `umount -l` is not recommended in general (see https://unix.stackexchange.com/a/390057)
# because it just removes the mounts from the namespace while writes to open files can continue;
# however, this is probably acceptable behavior for the overlay at shutdown, because any writes
# will be in our upperdir anyways.
ExecStopPost=umount -l $TARGET

[Install]
WantedBy=local-fs.target
