[Unit]
Description=Remount /usr as a writable overlay with a Forklift-managed intermediate layer, during early boot
DefaultDependencies=no
Requires=bindro-sysroot.service
After=bindro-sysroot.service
Requires=overlay-run-forklift-stages-current.service
After=overlay-run-forklift-stages-current.service
Conflicts=umount.target
Before=umount.target

[Service]
# This is implemented as a service rather than a mount because keeping all the related ExecStart
# commands in one unit makes the sequence of steps clearer.
Type=oneshot
RemainAfterExit=true
Environment=WORKDIR=/var/lib/overlays/workdirs/usr
ExecStartPre=mkdir -p $WORKDIR
Environment=UPPERDIR=/var/lib/overlays/overrides/usr
ExecStartPre=mkdir -p $UPPERDIR
Environment=LOWERDIR_FORKLIFT=/run/forklift/stages/current/exports/overlays/usr
ExecStartPre=mkdir -p $LOWERDIR_FORKLIFT
Environment=LOWERDIR_BASE=/sysroot/usr
ExecStart=bash -c '\
  mount -t overlay overlay \
    -o workdir=$WORKDIR,upperdir=$UPPERDIR,lowerdir=$LOWERDIR_FORKLIFT:$LOWERDIR_BASE \
    /usr \
  '
# Reload systemd units (and restart systemd) in case our overlay added anything in /usr/lib/systemd/system:
ExecStart=systemctl daemon-reexec
# Note: `umount -l` is not recommended in general (see https://unix.stackexchange.com/a/390057)
# because it just removes the mounts from the namespace while writes to open files can continue;
# however, this is probably acceptable behavior for the overlay at shutdown, because any writes
# will be in our upperdir anyways.
ExecStopPost=umount -l /usr

[Install]
WantedBy=local-fs.target
