[Unit]
Description=Remount /usr as a writable overlay with a Forklift-managed intermediate layer, during early boot
DefaultDependencies=no
Requires=bindro-sysroot.service
After=bindro-sysroot.service
Before=local-fs.target
Wants=start-overlaid-units.service
Before=start-overlaid-units.service
Conflicts=umount.target
Before=umount.target

[Service]
# This is implemented as a service rather than a mount because keeping all the related ExecStart
# commands in one unit makes the sequence of steps clearer.
Type=oneshot
RemainAfterExit=true
Environment=WORKDIR=/var/lib/overlays/workdirs/usr
ExecStartPre=mkdir -p $WORKDIR
Environment=UPPERDIR=/var/lib/overlays/overrides/usr
ExecStartPre=mkdir -p $UPPERDIR
Environment=LOWERDIR_FORKLIFT=/run/forklift/stages/current/exports/overlays/usr
Environment=LOWERDIR_BASE=/sysroot/usr
Environment=TARGET=/usr
# Warning: the upper and lower dirs are not allowed to be modified directly while the overlay is
# mounted! Doing so causes undefined behavior, i.e. weirdness and inconsistency
# (see https://docs.kernel.org/filesystems/overlayfs.html#changes-to-underlying-filesystems).
ExecStart=bash -c '\
  LOWERDIRS="$LOWERDIR_BASE"; \
  if [ -d $LOWERDIR_FORKLIFT ]; then LOWERDIRS="$LOWERDIR_FORKLIFT:$LOWERDIRS"; fi; \
  mount -t overlay overlay -o workdir=$WORKDIR,upperdir=$UPPERDIR,lowerdir=$LOWERDIRS $TARGET \
  '
# Immediately update any systemd units added by the overlay:
ExecStart=systemctl daemon-reload
# Note: `umount -l` is not recommended in general (see https://unix.stackexchange.com/a/390057)
# because it just removes the mounts from the namespace while writes to open files can continue;
# however, this is probably acceptable behavior for the overlay at shutdown, because any writes
# will be in our upperdir anyways.
ExecStopPost=umount -l /usr

[Install]
WantedBy=local-fs.target
