[Unit]
Description=Mount the Forklift stage to be applied next as the current stage in /run
Requires=-.mount
After=-.mount
Requires=systemd-remount-fs.service
After=systemd-remount-fs.service

[Mount]
Type=none
Options=bind
What=/var/lib/forklift/stages/next
Where=/run/forklift/stages/current


[Install]
WantedBy=local-fs.target
