[Unit]
Description=Start any enabled systemd units added by the /etc and /usr overlays
Requires=dbus.service
After=dbus.service

[Service]
Type=exec
ExecStartPre=systemctl daemon-reload
# Warning: this immediately stops any units not upstream of default.target!
ExecStart=systemctl isolate default.target

[Install]
WantedBy=default.target
