[Unit]
Description=Start any enabled systemd units added by the /etc and /usr overlays
After=overlay-fs.target

[Service]
Type=exec
ExecStartPre=systemctl daemon-reload
ExecStart=systemctl restart --no-block sockets.target timers.target multi-user.target default.target

[Install]
WantedBy=overlay-fs.target
