[Unit]
Description=Make a read-only mount of the system root to /sysroot
Requires=-.mount
After=-.mount
Requires=systemd-remount-fs.service
After=systemd-remount-fs.service

[Mount]
Type=overlay
What=overlay
Options=lowerdir=/
Where=/sysroot

[Install]
WantedBy=local-fs.target
