[Unit]
Description=Run the PlanktoScope hardware controller for the Adafruit HAT
# Wait for Forklift to bring up mosquitto, in case the controller needs to start after mosquitto
Wants=forklift-apply.service
After=forklift-apply.service
# Start after Node-RED so that Node-RED can catch all MQTT messages emitted at startup
After=nodered.service

[Service]
Type=simple
Environment=HOME=/home/pi
ExecStart=/home/pi/.local/share/pypoetry/venv/bin/poetry --directory /home/pi/device-backend/control run python -u /home/pi/device-backend/control/adafruithat/main.py
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
