[Unit]
Description=Run the PlanktoScope hardware controller
# Wait for Forklift to bring up mosquitto, in case the controller needs to start after mosquitto
Wants=forklift-apply.service
After=forklift-apply.service
# Start after Node-RED so that Node-RED can catch all MQTT messages emitted at startup
After=nodered.service

[Service]
Type=simple
Environment=HOME=/home/pi
WorkingDirectory=/home/pi/PlanktoScope/device-backend/control
ExecStart=/home/pi/.local/bin/poetry run python -u main.py
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
