[Unit]
Description=PlanktoScope first boot service
ConditionFirstBoot=yes

[Service]
Type=oneshot
ExecStart=/home/pi/PlanktoScope/os/raspberry/firstboot.sh

[Install]
WantedBy=sysinit.target
