html,
body,
#root {
  height: 100%;
  margin: 0;
}

:global(#root) {
  margin: 0;
  max-width: initial;
  display: flex;
  justify-content: center;
  color: white;
  height: 100%;
}

.video {
  max-width: 100vw;
  max-height: 100vh;
}

/*https://cssloaders.github.io/*/
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #3587d7;
  border-bottom-color: transparent;
  border-radius: 50%;
  /*display: inline-block;*/
  box-sizing: border-box;
  animation: loader_rotation 1s linear infinite;
  vertical-align: middle;
}

@keyframes loader_rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
