html,
body,
#root {
  height: 100%;
  margin: 0;
}

:global(#root) {
  margin: 0;
  max-width: initial;
  display: flex;
  justify-content: center;
  height: 100%;
}

.button_capture {
  position: absolute;
  bottom: 0;
  z-index: 9;
  right: 0;
  width: var(--zoomist-zoomer-button-size);
  height: var(--zoomist-zoomer-button-size);
  border: none;
  background-color: var(--zoomist-zoomer-button-color);
  cursor: pointer;
}

.button_capture:hover {
  background-color: var(--zoomist-zoomer-button-color-hover);
}

.button_capture svg {
  fill: var(--zoomist-zoomer-icon-color);
}

.controls {
  position: fixed;
  top: 0;
  left: 0;
  padding: 8px;
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.8);
}
