---
site_name: PlanktoScope Documentation
site_description: An open and affordable imaging platform for \
  citizen oceanography
repo_url: https://github.com/PlanktoScope/PlanktoScope
edit_uri: edit/master/documentation/docs/

nav:
  - Home:
    - index.md
    - Frequently Asked Questions: faq.md
  - Setup:
    - setup/index.md
    - Hardware:
      - setup/hardware/index.md
      - v2.5:
        - setup/hardware/v2.5/index.md
        - Kit Manufacturing: setup/hardware/v2.5/kit/index.md
        - Device Assembly: setup/hardware/v2.5/device/index.md
      - v2.1:
        - setup/hardware/v2.1/index.md
    - Software:
      - setup/software/index.md
      - Standard Setup: setup/software/standard-setup.md
      - Non-Standard Setup: setup/software/nonstandard-setup.md
      # (@ethanjli) I'm hiding this page because I don't consider it ready for public use:
      # - Create an SD Card Image: software/create-sd.md
  - Operation:
    - operation/index.md
    # (@ethanjli) I'm hiding this page because I don't consider it ready for public use:
    # - Sample Collection: operation/sample-collection.md
    - User Interface: operation/user-interface.md
    - Maintenance: operation/maintenance.md
  - Troubleshooting:
    - troubleshooting/index.md
  - Community:
    - community/index.md
    - Contribute:
      - Github: community/contribute/github.md
      - Hardware: community/contribute/hardware.md
      - Software: community/contribute/software.md
      - Documentation: community/contribute/documentation.md
    # (@ethanjli) I'm hiding this page because I don't consider it ready for public use:
    # - Trainings: community/trainings.md
    - Code of Conduct: community/code-of-conduct.md
    - License: community/license.md
  - Technical Reference:
    - reference/index.md
    - Hardware:
      - Planktoscope HAT: reference/hardware/hat.md
    - Software:
      # (@ethanjli) I'm hiding this page because I don't consider it ready for public use:
      # - MQTT Messages: reference/software/mqtt-api.md
      - Changelog: reference/software/changelog.md

theme:
  logo: images/logos/planktoscope_white.png
  favicon: images/logos/planktoscope_lavender.png
  icon:
      repo: fontawesome/brands/github
  language: en
  name: material
  font:
    text: Atkinson Hyperlegible
    code: Oxygen Mono
  features:
    - content.code.annotate
    - navigation.instant
    - navigation.instant.progress
    # - navigation.sections
    - navigation.indexes
    - toc.follow
    - content.action.edit
  palette:
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode

plugins:
  - git-revision-date-localized:
  - glightbox
  - minify:
      minify_html: true
  # FIXME: enable the offline plugin for offline site builds
  # FIXME: enable the social plugin for online site builds
  - search

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - tables
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - pymdownx.tasklist:
      custom_checkbox: true

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/PlanktoScope
    - icon: fontawesome/brands/slack
      link: https://planktoscope.slack.com

extra_css:
  - stylesheets/extra.css

copyright: >
  Copyright PlanktoScope project contributors
