[Unit]
Description=Generate a human-readable machine name at /run/machine-name from the Raspberry Pi's serial number
DefaultDependencies=no
Wants=local-fs.target
After=local-fs.target
Before=sysinit.target
Before=systemd-hostnamed.service

[Service]
Type=oneshot
ExecStartPre=sh -c "echo 'unknown' >/run/machine-name"
ExecStart=/home/pi/PlanktoScope/os/machine-name/generate-machine-name.sh

[Install]
WantedBy=sysinit.target
