name: Build the segmenter

on:
  push:
    branches:
      - 'main'
      - 'software/beta'
      - 'software/stable'
    tags:
      - 'segmenter/v*'
    paths:
      - 'segmenter/**'
      - '.github/workflows/build-segmenter.yml'
  pull_request:
    paths:
      - 'segmenter/**'
      - '.github/workflows/build-segmenter.yml'
  merge_group:
  workflow_dispatch:
    inputs:
      git-ref:
        description: 'Git ref (optional)'
        required: false

env:
  IMAGE_REGISTRY: ghcr.io/${{ github.repository_owner }}
  IMAGE_NAME: 'segmenter'
  MAIN_BRANCH: 'main' # pushing to this branch will update the "edge" tag on the image
  BETA_BRANCH: 'software/beta' # pushing to this branch will update the "beta" tag on the image
  STABLE_BRANCH: 'software/stable' # pushing to this branch will update the "stable" tag on the image
  TAG_PREFIX: 'segmenter/v' # pushing tags with this prefix will add a version tag to the image and update the "latest" tag on the image
  PUSH_IMAGE: ${{ (github.event_name == 'pull_request' && !github.event.pull_request.head.repo.fork) || github.event_name == 'push' || github.event_name == 'push tag' }}

jobs:
  ci-checks:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install

      - name: Install dependencies
        working-directory: ./segmenter
        run: |
          uv sync --locked --dev

      - name: Run checks
        working-directory: ./segmenter
        run: uv run poe check
