name: Continuous Integration

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  ci-checks:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true
          filter: 'blob:none'
          submodules: recursive

      - run: just ci
