name: Deploy documentation (stable release channel)

on:
  push:
    branches:
      - 'documentation/stable'
  workflow_dispatch:

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest
# queued. But do not cancel in-progress runs - we want these deploymeents to complete.
concurrency:
  group: "docs-stable-deploy"
  cancel-in-progress: false

defaults:
  run:
    shell: bash

jobs:
  deploy:
    environment:
      name: documentation-stable
      url: https://docs.planktoscope.community
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies for mkdocs-material image-processing libraries
        run: |
          sudo apt-get -y install libcairo2-dev libfreetype6-dev libffi-dev libjpeg-dev libpng-dev libz-dev
          sudo apt-get -y install pngquant

      - name: Install poetry
        run: pipx install poetry==1.5.0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'poetry'
          cache-dependency-path: |
            documentation/poetry.lock

      - name: Install build dependencies
        run: |
          poetry -C ./documentation/ install --with imaging

      - name: Import external assets
        run: poetry -C ./documentation/ run poe --root ./documentation/ import-external-assets

      - name: Build documentation
        run: |
          DOCS_DEPLOY=true |
          DOCS_SITEURL=${{ vars.url }} |
          poetry -C ./documentation/ run poe --root ./documentation/ build

      - name: Push to ${{ vars.REPOSITORY_NAME }}
        uses: cpina/github-action-push-to-another-repository@main
        env:
          SSH_DEPLOY_KEY: ${{ secrets.SSH_DEPLOY_KEY }}
        with:
          source-directory: documentation/site/
          destination-github-username: PlanktoScope
          destination-repository-name: ${{ vars.REPOSITORY_NAME }}
          user-email: github-actions[bot]@users.noreply.github.com
          user-name: github-actions[bot]
          commit-message: Deploy ORIGIN_COMMIT
          target-directory: site
