name: deploy-documentation/edge

on:
  push:
    branches:
      - 'main'
    paths:
      - 'documentation/**'
      - 'hardware/**'
      - 'CHANGELOG.md'
      - '.github/workflows/documentation-deploy-edge.yml'
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest
# queued. But do not cancel in-progress runs - we want these deploymeents to complete.
concurrency:
  group: 'docs-edge-deploy'
  cancel-in-progress: false

defaults:
  run:
    shell: bash

jobs:
  deploy:
    environment:
      name: documentation-edge
      url: ${{ vars.URL }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install dependencies for mkdocs-material image-processing libraries
        run: sudo apt-get -y install libcairo2-dev libfreetype6-dev libffi-dev libjpeg-dev libpng-dev libz-dev imgp pngquant

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install

      - name: Install dependencies
        working-directory: ./documentation
        run: |
          uv sync --locked

      - name: Set release channel
        working-directory: documentation
        run: uv run poe set-edge-release-channel

      - name: Build documentation
        env:
          DOCS_DEPLOY: true
          DOCS_SITEURL: ${{ vars.URL }}
        working-directory: documentation
        run: uv run poe build

      - name: Set up Pages
        id: pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./documentation/site

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
