---
name: Merge Gatekeeper

on:
  pull_request:
  merge_group:

jobs:
  merge-gatekeeper:
    runs-on: ubuntu-latest
    permissions:
      checks: read
      statuses: read
    steps:
      - name: Run Merge Gatekeeper
        if: github.event_name != 'merge_group'
        uses: upsidr/merge-gatekeeper@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          timeout: 3600 # 60-minute timeout, since OS build workflows may take ~40 minutes to run
          interval: 60

      - name: Run Merge Gatekeeper in Merge Queue
        if: github.event_name == 'merge_group'
        uses: upsidr/merge-gatekeeper@v1
        with:
          ref: ${{github.ref}}
          token: ${{ secrets.GITHUB_TOKEN }}
          timeout: 3600 # 60-minute timeout, since OS build workflows may take ~40 minutes to run
          interval: 60
